#!/usr/bin/env bash
# Used by https://direnv.net

# Automatically reload when the devshell changes
watch_file nix/devshell.nix
watch_file nix/pre-commit-check.nix

# Load `nix develop`
use flake

# Extend the environment with per-user overrides (e.g. secrets)
source_env_if_exists .envrc.local
