@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .secondbg {
    @apply bg-secondary dark:bg-secondary-dark border-black/10 dark:border-white/10;
  }
  html,
  body {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.footnotes {
  @apply text-sm pb-4;
}

.footnotes a {
  @apply text-slate-500 dark:text-slate-300 font-normal;
}

.prose pre {
  @apply bg-gray-50 dark:bg-[#282a36] border border-gray-200 dark:border-gray-200/10;
}

.prose :not(pre) > code {
  @apply px-1 py-0.5 border border-gray-100 dark:border-0 rounded-md bg-gray-100 dark:text-white-readable dark:bg-gray-800;
}

.callout code {
  @apply text-gray-800 px-1 py-0.5 border border-gray-200 rounded-md bg-gray-200;
}

.token.comment {
  @apply text-gray-400 dark:text-[#6272a4];
}

.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-gray-700 dark:text-[#f8f8f27e];
}

.token.punctuation {
  @apply text-gray-700 dark:text-[#f8f8f27e];
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  @apply text-green-500 dark:text-[#50fa7b];
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  @apply text-violet-500 dark:text-[#bd93f9];
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  @apply text-yellow-500 dark:text-[#ffb86c];
}

.token.atrule,
.token.attr-value,
.token.keyword {
  @apply text-blue-500 dark:text-[#8be9fd];
}

.token.function,
.token.class-name {
  @apply text-pink-500 dark:text-[#ff79c6];
}

.token.regex,
.token.important,
.token.variable {
  @apply text-yellow-500 dark:text-[#f1fa8c];
}

code[class*="language-"],
pre {
  @apply text-gray-800 dark:text-[#f8f8f2] !text-sm;
}

.prose pre > code {
  @apply text-gray-800 dark:text-[#f8f8f2] !text-sm;
}

pre::-webkit-scrollbar {
  display: none !important;
}

pre {
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
}

/* WebFonts */

/* inter-300 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(""), url("./webfonts/inter-v7-latin-300.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./webfonts/inter-v7-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-regular - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("./webfonts/inter-v7-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./webfonts/inter-v7-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-500 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""), url("./webfonts/inter-v7-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./webfonts/inter-v7-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-700 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("./webfonts/inter-v7-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./webfonts/inter-v7-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-800 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local(""), url("./webfonts/inter-v7-latin-800.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./webfonts/inter-v7-latin-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-serif-sc-regular - chinese-simplified */
@font-face {
  font-family: 'Noto Serif SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('./webfonts/noto-serif-sc-v16-chinese-simplified-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./webfonts/noto-serif-sc-v16-chinese-simplified-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-serif-sc-700 - chinese-simplified */
@font-face {
  font-family: 'Noto Serif SC';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
       url('./webfonts/noto-serif-sc-v16-chinese-simplified-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./webfonts/noto-serif-sc-v16-chinese-simplified-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}