@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .secondbg {
    @apply border-black/10 bg-secondary shadow-sm dark:border dark:border-white/10 dark:bg-secondary-dark/50 dark:shadow-none;
  }
  html,
  body {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.rehype-code-title {
  @apply rounded-t-lg border border-b-0 border-gray-200 bg-gray-200 px-5 py-3 font-mono text-sm font-bold text-gray-800 dark:border-gray-200/10 dark:bg-[#24252f] dark:text-gray-200;
}

.rehype-code-title + pre {
  @apply mt-0 rounded-t-none;
}

.footnotes {
  @apply pb-4 text-sm;
}

.footnotes a {
  @apply font-normal text-slate-500 dark:text-slate-300;
}

.prose pre {
  @apply border border-gray-200 bg-gray-50 dark:border-gray-200/10 dark:bg-[#282a36];
}

.prose :not(pre) > code {
  @apply rounded-md border border-gray-100 bg-gray-100 px-1 py-0.5 dark:border-0 dark:bg-gray-800 dark:text-white-readable;
}

.callout code {
  @apply rounded-md border border-gray-200 bg-gray-200 px-1 py-0.5 text-gray-800;
}

.token.comment {
  @apply text-gray-400 dark:text-[#6272a4];
}

.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-gray-700 dark:text-[#f8f8f27e];
}

.token.punctuation {
  @apply text-gray-700 dark:text-[#f8f8f27e];
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  @apply text-green-500 dark:text-[#50fa7b];
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  @apply text-violet-500 dark:text-[#bd93f9];
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  @apply text-yellow-500 dark:text-[#ffb86c];
}

.token.atrule,
.token.attr-value,
.token.keyword {
  @apply text-blue-500 dark:text-[#8be9fd];
}

.token.function,
.token.class-name {
  @apply text-pink-500 dark:text-[#ff79c6];
}

.token.regex,
.token.important,
.token.variable {
  @apply text-yellow-500 dark:text-[#f1fa8c];
}

code[class*="language-"],
pre {
  @apply !text-sm text-gray-800 dark:text-[#f8f8f2];
}

.prose pre > code {
  @apply !text-sm text-gray-800 dark:text-[#f8f8f2];
}

pre::-webkit-scrollbar {
  display: none !important;
}

pre {
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
}

/* roboto-serif-100 - latin */
@font-face {
  font-family: "Roboto Serif";
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: local(""),
    url("https://fonts-1251112473.cos.ap-hongkong.myqcloud.com/roboto-serif-v5-latin-100.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("https://fonts-1251112473.cos.ap-hongkong.myqcloud.com/roboto-serif-v5-latin-100.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-serif-regular - latin */
@font-face {
  font-family: "Roboto Serif";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local(""),
    url("https://fonts-1251112473.cos.ap-hongkong.myqcloud.com/roboto-serif-v5-latin-regular.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("https://fonts-1251112473.cos.ap-hongkong.myqcloud.com/roboto-serif-v5-latin-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-serif-700 - latin */
@font-face {
  font-family: "Roboto Serif";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local(""),
    url("https://fonts-1251112473.cos.ap-hongkong.myqcloud.com/roboto-serif-v5-latin-700.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("https://fonts-1251112473.cos.ap-hongkong.myqcloud.com/roboto-serif-v5-latin-700.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-serif-italic - latin */
@font-face {
  font-family: "Roboto Serif";
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: local(""),
    url("https://fonts-1251112473.cos.ap-hongkong.myqcloud.com/roboto-serif-v5-latin-italic.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("https://fonts-1251112473.cos.ap-hongkong.myqcloud.com/roboto-serif-v5-latin-italic.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-serif-700italic - latin */
@font-face {
  font-family: "Roboto Serif";
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: local(""),
    url("https://fonts-1251112473.cos.ap-hongkong.myqcloud.com/roboto-serif-v5-latin-700italic.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("https://fonts-1251112473.cos.ap-hongkong.myqcloud.com/roboto-serif-v5-latin-700italic.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-serif-sc-regular - chinese-simplified */
@font-face {
  font-family: "Noto Serif SC";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local(""),
    url("https://fonts-1251112473.cos.ap-hongkong.myqcloud.com/noto-serif-sc-v16-chinese-simplified-regular.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("https://fonts-1251112473.cos.ap-hongkong.myqcloud.com/noto-serif-sc-v16-chinese-simplified-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-serif-sc-200 - latin_chinese-simplified */
@font-face {
  font-family: "Noto Serif SC";
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: local(""),
    url("https://fonts-1251112473.cos.ap-hongkong.myqcloud.com/noto-serif-sc-v19-latin_chinese-simplified-200.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("https://fonts-1251112473.cos.ap-hongkong.myqcloud.com/noto-serif-sc-v19-latin_chinese-simplified-200.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-serif-sc-700 - chinese-simplified */
@font-face {
  font-family: "Noto Serif SC";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local(""),
    url("https://fonts-1251112473.cos.ap-hongkong.myqcloud.com/noto-serif-sc-v16-chinese-simplified-700.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("https://fonts-1251112473.cos.ap-hongkong.myqcloud.com/noto-serif-sc-v16-chinese-simplified-700.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
