@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .secondbg {
    @apply border-black/10 bg-secondary/90 backdrop-blur dark:border-white/10 dark:bg-neutral-800/90;
  }

  .primary {
    @apply rounded-lg bg-white shadow-sm dark:bg-neutral-900 dark:shadow-none;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.rehype-code-title {
  @apply rounded-t-lg border border-b-0 border-gray-200/10 bg-[#24252f] px-5 py-3 font-mono text-sm font-bold text-gray-200;
}

.rehype-code-title + pre {
  @apply !mt-0 !rounded-t-none;
}

.footnotes {
  @apply pb-4 text-sm;
}

.footnotes a {
  @apply font-normal text-slate-500 dark:text-slate-300;
}

.prose :not(pre) > code {
  @apply rounded-md border border-gray-100 bg-gray-100 px-1 py-0.5 dark:border-0 dark:bg-gray-800 dark:text-white-readable;
}

.callout code {
  @apply rounded-md border border-gray-200 bg-gray-200 px-1 py-0.5 text-gray-800;
}

pre {
  overflow-x: auto;
}

.code-highlight {
  float: left; /* 1 */
  min-width: 100%; /* 2 */
}

.code-line {
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: -16px;
  margin-right: -16px;
  border-left-width: 4px;
  border-left-color: rgba(31, 41, 55, 0); /* Set code block color */
}

.code-line.inserted {
  background-color: rgba(
    16,
    185,
    129,
    0.2
  ); /* Set inserted line (+) color */
}

.code-line.deleted {
  background-color: rgba(
    239,
    68,
    68,
    0.2
  ); /* Set deleted line (-) color */
}

.highlight-line {
  margin-left: -16px;
  margin-right: -16px;
  background-color: rgba(
    55,
    65,
    81,
    0.5
  ); /* Set highlight bg color */
  border-left-width: 4px;
  border-left-color: rgb(
    59,
    130,
    246
  ); /* Set highlight accent border color */
}

.line-number::before {
  display: inline-block;
  width: 1rem;
  text-align: right;
  margin-right: 16px;
  margin-left: -8px;
  color: rgb(156, 163, 175); /* Line number color */
  content: attr(line);
}

/* roboto-serif-100 - latin */
@font-face {
  font-family: "Roboto Serif";
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: local(""),
    url("/fonts/roboto-serif-v8-latin-100.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/roboto-serif-v8-latin-100.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-serif-regular - latin */
@font-face {
  font-family: "Roboto Serif";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local(""),
    url("/fonts/roboto-serif-v8-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/roboto-serif-v8-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-serif-700 - latin */
@font-face {
  font-family: "Roboto Serif";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local(""),
    url("/fonts/roboto-serif-v8-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/roboto-serif-v8-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-serif-italic - latin */
@font-face {
  font-family: "Roboto Serif";
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: local(""),
    url("/fonts/roboto-serif-v8-latin-italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/roboto-serif-v8-latin-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-serif-700italic - latin */
@font-face {
  font-family: "Roboto Serif";
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: local(""),
    url("/fonts/roboto-serif-v8-latin-700italic.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/roboto-serif-v8-latin-700italic.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-serif-sc-200 - chinese-simplified */
@font-face {
  font-family: "Noto Serif SC";
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: local(""),
    url("/fonts/noto-serif-sc-v22-chinese-simplified-200.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/noto-serif-sc-v22-chinese-simplified-200.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-serif-sc-regular - chinese-simplified */
@font-face {
  font-family: "Noto Serif SC";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local(""),
    url("/fonts/noto-serif-sc-v22-chinese-simplified-regular.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/noto-serif-sc-v22-chinese-simplified-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-serif-sc-700 - chinese-simplified */
@font-face {
  font-family: "Noto Serif SC";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local(""),
    url("/fonts/noto-serif-sc-v22-chinese-simplified-700.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/noto-serif-sc-v22-chinese-simplified-700.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-300 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: local(""),
    url("/fonts/lato-v23-latin-300.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/lato-v23-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local(""),
    url("/fonts/lato-v23-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/lato-v23-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local(""),
    url("/fonts/lato-v23-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/lato-v23-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-900 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: local(""),
    url("/fonts/lato-v23-latin-900.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/lato-v23-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
